<launch>

<arg name="urdf_file" default="$(find xacro)/xacro.py '$(find kobuki_description)/urdf/kobuki_standalone.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- velocity commands multiplexer -->
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" respawn="true" respawn_delay="3" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager" output="screen">
    <param name="yaml_cfg_file" value="$(find robotic)/param/mux.yaml"/>
    <remap from="cmd_vel_mux/output" to="mobile_base/commands/velocity"/>
  </node>

    <!-- navigation velocity smoother -->
<node pkg="nodelet" type="nodelet" name="velocity_smoother" respawn="true" respawn_delay="3" args="load yocs_velocity_smoother/VelocitySmootherNodelet /mobile_base_nodelet_manager" output="screen">
    <rosparam file="$(find turtlebot_bringup)/param/defaults/smoother.yaml" command="load"/>
    <remap from="velocity_smoother/smooth_cmd_vel" to="/cmd_vel_mux/input/navi"/>
    <remap from="velocity_smoother/odometry" to="/odom"/>
    <remap from="velocity_smoother/robot_cmd_vel" to="/mobile_base/commands/velocity"/>
  </node>


<!-- Robot safety controller -->
<node pkg="nodelet" type="nodelet" name="kobuki_safety_controller" respawn="true" respawn_delay="3" args="load kobuki_safety_controller/SafetyControllerNodelet /mobile_base_nodelet_manager" output="screen">
    <remap from="kobuki_safety_controller/cmd_vel" to="/cmd_vel_mux/input/safety_controller"/> 
    <remap from="kobuki_safety_controller/events/bumper" to="/mobile_base/events/bumper"/>
    <remap from="kobuki_safety_controller/events/cliff" to="/mobile_base/events/cliff"/>
    <remap from="kobuki_safety_controller/events/wheel_drop" to="/mobile_base/events/wheel_drop"/>
    <rosparam file="$(find kobuki_safety_controller)/param/param.yaml" command="load"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="mobile_base" args="load kobuki_node/KobukiNodelet mobile_base_nodelet_manager" output="screen">
    <rosparam file="$(find kobuki_node)/param/base.yaml" command="load"/>
    <param name="publish_tf" value="true"/>
    <remap from="mobile_base/odom" to="odom"/>
    <remap from="mobile_base/joint_states" to="joint_states"/>
  </node>

  <include file="$(find robotic)/launch/includes/base2laser.launch.xml"/>
  
</launch>
